<div class="row">
	<h2>
		<div class="col-md-8 col-xs-8">Op&eacute;rations</div>
	</h2>
	<div class="col-md-4 col-xs-4">
		<div class="manage-control">
			<select ng-model="selectedAccount" ng-change="update()">
				<option ng-repeat="account in accounts" value="{{ account.id }}">{{
					account.label }}</option>
			</select>
			<button type="button" ng-click="handleNewClick()"
				class="btn btn-default btn-lg" role="button">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button type="button" ng-click="askDelete()"
				class="btn btn-default btn-lg" role="button">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
		</div>
	</div>
</div>
<br />


<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="padding-left: 0;"><div class="btn-group"
						role="group">
						<button type="button" class="btn btn-default btn-sm"
							ng-click="selectAll()">
							<span class="glyphicon glyphicon-check"></span>
						</button>
						<button class="btn btn-default btn-sm" ng-click="unselectAll()">
							<span class="glyphicon glyphicon-unchecked"></span>
						</button>
					</div></th>
				<th>date</th>
				<th>cat&eacute;gorie</th>
				<th>description</th>
				<th>tiers</th>
				<th>d&eacute;bit</th>
				<th>cr&eacute;dit</th>
				<th>P/R</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="operation in operations">
				<td>{{ operation.date | date:'dd/MM/yyyy' }}</td>
				<td>{{ operation.category.label }}</td>
				<td><a href="" ng-click="handleEditClick(operation)">{{
						operation.description }}</a></td>
				<td>{{ operation.thirdParty.label }}</td>
				<td>{{ operation.debit }} &euro;</td>
				<td>{{ operation.credit }} &euro;</td>
				<td>
					<!--  TODO : gérer attribut pointé ou rapproché -->
				</td>
			</tr>
		</tbody>
	</table>
</div>

