<div class="row">
	<h2>
		<div class="col-md-8 col-xs-8">Moyens de paiement</div>
	</h2>
	<div class="col-md-4 col-xs-4">
		<div class="manage-control">
			<button type="button" ng-click="handleNewClick()"
				class="btn btn-default btn-lg" role="button">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button type="button" ng-click="askDelete(paymentMethods)"
				class="btn btn-default btn-lg" role="button">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
		</div>
	</div>
</div>
<br />


<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="padding-left: 0;"><div class="btn-group"
						role="group">
						<button type="button" class="btn btn-default btn-sm"
							ng-click="selectAll(paymentMethods)">
							<span class="glyphicon glyphicon-check"></span>
						</button>
						<button class="btn btn-default btn-sm"
							ng-click="unselectAll(paymentMethods)">
							<span class="glyphicon glyphicon-unchecked"></span>
						</button>
					</div></th>
				<th>libell&eacute; / description</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="paymentMethod in paymentMethods">
				<td><input ng-model="selected[paymentMethod.id]"
					type="checkbox" name="select-{{ paymentMethod.id }}"
					style="margin-left: auto; margin-right: auto;"></td>
				<td><a href="" ng-click="handleEditClick(thirdParty)">{{
						paymentMethod.label }}</a></td>
			</tr>
		</tbody>
	</table>
</div>
